{% extends 'base.html' %}

{% block title %}Home - Web Dev Showcase{% endblock %}

{% block content %}
<div class="container-lg mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to my site!</h1>
            <p class="lead">I am glad you were able to make it here!</p>
            <hr class="my-4">
            <p>Eventually I will have this whole placed filled with some of my amazing personal projects. Until then please check out my 'about' page from the tab above or the button below</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
